doctype html

html
    head
        link(rel="stylesheet" href="/css/application.css")
        title node.js
    body
        include ./partials/header
        != messages()
        block content
        include ./partials/footer
